# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Card Gen
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 2 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {分支: ["master", "main"]}
jobs:
  bgm-sync:
    runs-on: ubuntu-latest
    name: 每日同步BGM收藏卡片
    permissions:
      contents: write
    steps:
      - name: Bgm Collection Card
        id: bgm
        uses: Kom3ng/bangumi-action@main
        with:
          github-token: '${{secrets.GITHUB_TOKEN}}'
          bgm-user-id: 'astrack'
          bgm-img-path: 'bgm-card.svg'
          show-characters: false

      - name: Get the output image url
        run: echo "图片生成的链接地址 ${{ steps.bgm.outputs.message }}"
